# Игнорировать файл .env с конфиденциальными данными
.env

# Игнорировать виртуальное окружение Python
.venv/
venv/

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать файлы IDE (например, PyCharm)
.idea/
.vscode/

# Игнорировать логи и временные файлы
*.log
*.tmp