# Основные зависимости для тестирования
pytest~=8.2.2
playwright~=1.44.0
requests~=2.32.3
pytest-playwright~=0.5.1
russian-names~=0.1.2
python-dotenv~=1.1.0
psycopg2~=2.9.10  # Лучше использовать binary, чем psycopg2 (упрощает установку)

# Дополнительные утилиты (если нужны)
# dotenv~=0.9.9  # python-dotenv новее и лучше, можно удалить, если не используется

# Сама установка:
# pip install -r requirements.txt
# playwright install  # Установка браузеров для Playwright (Chrome, Firefox, WebKit)